<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>On Wine</title>
        <link rel='stylesheet' href='../css/normalize.css' />
        <link rel="stylesheet" href="../css/header.css" />
        <link rel="stylesheet" href="../css/footer.css" />
        <link rel="stylesheet" href="../css/home.css" />
        <link rel="stylesheet" href="../css/cart.css" />
        <link rel="stylesheet" href="../css/login.css" />
        <link rel="stylesheet" href="../css/register.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Bebas+Neue&family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/44a0ddf98c.js" crossorigin="anonymous"></script>
    </head>

<body>
    <div id="wrapper">
        <div class="headero">

            <header>
                <section class="logo-register">
                    <nav class="logins">
                        <a href="/login">Ingresar</a>
                        <span>/</span>
                        <a href="/register">Registrarse</a>
                    </nav>
                    <div class="test">
                        <a href="/"><img src="../Img/Logo.jpg" width="230px"></a>
                    </div>
                </section>
                <section class="burger-search">
                    <a href="#">
                        <i class="fas fa-bars burger"></i>
                    </a>
                    <form class="search-container" action="">
                        <input class="searcher" type="search" placeholder="¿Qué estás buscando?">
                        <button type="submit" class="glass"><span class="fas fa-search"></span></button>
                    </form>
                    <a href="/cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </section>
            
            </header>

        </div>
        <div class="main-content">
            <main>

                <div id='container'>
                    <div class="titular">
                        <h2 class="titulo">.Registrate</h2>
                    </div>
                    <div class='register'>
                        <form>
                            <div class="r-name">
                                <input type='text' name='name' minlength="3" maxlength="20" placeholder='nombre:'
                                    required />
                            </div>
                            <div class="r-lasName">
                                <input type='text' name='lasName' minlength="3" maxlength="20" placeholder='apellido:'
                                    required />
                            </div>
                            <div class="r-date">
                                <input type='date' name='date' placeholder='Fecha Nac:' required />
                            </div>
                            <div class="r-email">
                                <input type='email' name='email' placeholder='Email:' required />
                            </div>
                            <div class="r-password">
                                <input type='password' name='password' minlength="8" maxlength="20"
                                    placeholder='password:' required />
                            </div>
                            <div class="r-passwordRepeat">
                                <input type='password' name='passwordRepeat' minlength="8" maxlength="20"
                                    placeholder='Repita el password:' required />
                            </div>
                            <div class="r-checkbox">
                                <label class="check"><input type='checkbox' name='terminos' required>HE LEIDO Y ACEPTO
                                    LOS</label><a href='/terminosCondiciones'>TERMINOS Y CONDICIONES</a>
                            </div>
                            <div class="r-checkbox">
                                <label class="check"><input type='checkbox' name='notificaciones'>QUIERO RECIBIR OFERTAS
                                    Y
                                    OTRAS
                                    NOTIFICACIONES</label>
                            </div>
                            <button type='submit' class="btn-registrar">Registrar</button>
                            <br><br>
                            <div class="r-registrado">Ya estas registrado? <a href='/login'>Inicia Secion</a></div>
                        </form>
                    </div>

                </div>
            </main>
        </div>
        <div class="footero">

            <footer>
                <section class="products-footer">
                    <article>
                        <h4>Productos</h4>
                        <ul>
                            <li><a href="#">Vinos</a></li>
                            <li><a href="#">Espumantes</a></li>
                            <li><a href="#">Espirituosas</a></li>
                            <li><a href="#">Cervezas</a></li>
                            <li><a href="#">Whiskys</a></li>
                            <li><a href="#">Accesorios</a></li>
                        </ul>
                    </article>
                </section>
                <section class="info">
                    <article>
                        <h4>On Wine</h4>
                        <ul>
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">Costos y envios</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Legales</a></li>
                        </ul>
                    </article>
                </section>
                <section class="payment">
                    <article>
                        <h4>Metodos De Pago</h4>
                        <img src="../Img/formas-de-pago.png" width="120px">
                    </article>
                </section>
                <section class="social-media">
                    <article>
                        <h4>Social Media</h4>
                        <ul>
                            <li class="media-list"><i class="fab fa-facebook-square"></i><a class="social"
                                    href="#"></span>/OnWine</a></li>
                            <li class="media-list"><i class="fab fa-twitter-square"></i><a class="social" href="#">@OnWine</a>
                            </li>
                            <li class="media-list"><i class="fab fa-instagram-square"></i><a class="social" href="#">/OnWine</a>
                            </li>
                        </ul>
                    </article>
                </section>
            </footer>

        </div>
    </div>
</body>

</html>